.input {
    position: absolute;
    width: 360px;
    height: 48px;
    left: 1098px;
    top: 408px;
    background: #FFFFFF;
    border: 1px solid #C9CAD1;
    box-sizing: border-box;
    border-radius: 12px;
}

label {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #010101;
    opacity: 0.25;
}