@import '/src/styles/colors.scss';

.input {
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;

  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: $darkGray;

  .field {
    width: 100%;
    height: 48px;
    background: $white;
    border: 1px solid $gray;
    box-sizing: border-box;
    border-radius: 0.75rem;
    padding: 0.875rem;
    margin: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .error {
    color: $red;
    padding-top: 0.3rem;

    font-size: 0.7rem;
  }
}
