@import '../../styles/colors.scss';

.input {
  width: 100%;
  height: 48px;
  background: $white;
  border: 1px solid $gray;
  box-sizing: border-box;
  border-radius: 0.75rem;
  padding: 0.875rem;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
}
