@import '../../styles/colors.scss';

.button {
  width: 100%;
  height: 48px;

  background-color: $blue;
  border-radius: 0.5rem;

  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;

  border: 0.5px solid $gray;
  text-align: center;
  color: $white;

  margin-top: 1rem;
  margin-bottom: 1rem;
}
