@import '/src/styles/colors.scss';

.row {
  width: 100%;
  height: 64px;

  overflow-x: scroll;
  overflow-y: hidden;

  img {
    width: 64px;
    height: 64px;

    border-radius: 16px;

    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
    border-radius: 12px;
  }
}
