@import '/src/styles/colors.scss';

.row {
  width: 100%;

  display: flex;

  &::-webkit-scrollbar {
    display: none;
  }

  overflow: auto;
  white-space: nowrap;

  margin: 3rem 0;

  .img {
    display: inline-block;

    margin-right: 1.5rem;

    padding: 2px;

    width: 4rem;
    height: 4rem;

    border: 3px solid $blue;

    border-radius: 1rem;

    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
  }
}
