@import '/src/styles/colors.scss';

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-weight: 600;
  line-height: 1.25rem;

  border: none;
  align-items: center;

  margin-right: 2.5rem;

  background-color: transparent;

  img {
    width: 1.5rem;
    height: 1.5rem;

    margin-right: 0.6rem;
  }
}
