@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import '/src/styles/colors.scss';

body {
  margin: 0;
  padding: 0;

  background-color: $lightGray;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 375px) {
  html {
    font-size: 12px;
  }
}
