@import '/src/styles/colors.scss';

.body {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;

  .profile {
    width: 305px;
    height: 305px;
    background-color: $red;
  }

  .content {
    width: 90%;
    height: max-content;
    max-width: 560px;
    justify-content: space-around;

    .postsList {
      width: 100%;
      height: 80vh;
      background-color: $red;
    }
  }
}

@media screen and (max-width: 1024px) {
  .body {
    .profile {
      display: none;
    }
  }
}
