@import '/src/styles/colors.scss';

.body {
  width: 100%;
  height: 100%;
  background-color: $lightGray;
  display: flex;
  justify-content: center;

  .content {
    width: 30%;
    height: 100vh;
    justify-content: space-around;

    .storiesLine {
      width: 100%;
      height: 20%;
      background-color: $blue;
    }

    .postsList {
      width: 100%;
      height: 80vh;
      background-color: $red;
    }
  }

  // .profile {
  //   width: 20%;
  //   height: 30%;
  // }
}
