.body {
    width: 100%;
    background-color: #fafbfc;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;

    color: #010101;
}

img {
    width: 592px;
    height: 718px;
    margin-right: 10%;
}

.form {
    display: flex;
    flex-direction: column;
}

.signUpButton {
    width: 360px;
    height: 48px;

    background-color: #0087ff;
    border-radius: 12px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
    color: #ffffff;
}

.input {
    display: flex;
    flex-direction: column;

    margin-bottom: 16px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #808080;
}

.logIn {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;

    text-align: center;

    color: #808080;
}

.logInText {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;

    color: #0087ff;

    margin-left: 12px;
}
