@import "/src/styles/colors.scss";

.body {
    width: 100%;
    height: 100vh;
    background-color: $lightGray;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
            width: 33%;
            margin-top: 3%;
            margin-right: 10%;
        }
    }
}
