.body {
    position: relative;
    background: #FAFBFC;
}

.title {
    position: absolute;
    width: 186px;
    height: 72px;
    left: 1098px;
    top: 266.26px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;

    color: #010101;
}

img {
    position: absolute;
    width: 592px;
    height: 718px;
    left: 346px;
    top: 230px;
}