@import '/src/styles/colors.scss';

.body {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img {
      width: 450px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .body {
    .content {
      img {
        display: none;
      }
    }
  }
}
