@import '/src/styles/colors.scss';

form {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    font-weight: bold;
    font-size: 3rem;
    line-height: 4.5rem;

    color: $black;
  }

  .input {
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;

    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.25rem;
    color: $darkGray;
  }

  .logIn {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.25rem;

    text-align: center;

    color: $darkGray;
  }

  .logInText {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    text-decoration: none;

    color: $blue;

    margin-left: 0.75rem;
  }
}
