@import '../../styles/colors.scss';

.body {
  width: 100%;

  display: flex;
  flex-direction: row;

  align-items: center;

  justify-content: flex-start;

  margin-bottom: 2.6rem;

  img {
    width: 40px;
    height: 40px;

    border-radius: 0.75rem;

    margin-right: 1rem;
  }

  .message {
    display: flex;
    flex-direction: column;

    > span {
      font-size: 0.75rem;

      &:nth-of-type(2) {
        color: $gray;
      }
    }
  }
}
