@import "../../styles/colors.scss";

.mainHeader {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;

  background: $white;

  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);

  .headerTitle {
    font-style: italic;
    font-weight: 800;
    font-size: 1em;

    margin: 24px;
  }

  .languageButton {
    align-items: center;
    text-align: center;
    padding: 10px;

    width: 40px;
    height: 40px;

    background: $white;

    border: 0.5px solid $gray;
    box-sizing: border-box;
    border-radius: 12px;

    font-weight: 600;
    font-size: 0.8em;
    line-height: 20px;

    margin: 24px 64px;
  }
}
