@import "../../styles/colors.scss";

.mainHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 24px 64px;

  background: $white;

  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);

  .headerTitle {
    font-style: italic;
    font-weight: 800;
    font-size: 1em;
  }

  .languageButton {
    align-items: center;
    text-align: center;
    padding: 10px 12px;

    position: static;
    width: 40px;
    height: 40px;

    background: $white;

    border: 0.5px solid $gray;
    box-sizing: border-box;
    border-radius: 12px;

    font-style: normal;
    font-weight: 600;
    font-size: 0.8em;
    line-height: 20px;
  }
}
