@import '../../styles/colors.scss';

.mainHeader {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;

  background: $white;

  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);

  .headerTitle {
    font-style: italic;
    font-weight: 800;
    font-size: 1rem;
  }

  .rightSide {
    margin: 0;
    padding: 0;

    .languageButton {
      text-align: center;
      padding: 0.6rem;

      background: $white;

      border: 0.5px solid $gray;
      box-sizing: border-box;
      border-radius: 0.75rem;

      font-weight: 600;
      font-size: 0.8em;
      line-height: 1.25rem;

      margin: 1.5rem 4rem;
    }

    .homeButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 4px 24px;

      position: static;
      width: 85px;
      height: 40px;

      background: $black;

      border: 0.5px solid $gray;
      box-sizing: border-box;
      border-radius: 0.8rem;

      color: $white;
      font-weight: 600;
      font-size: 0.8rem;

      flex: none;
      order: 0;
      flex-grow: 0;
    }
  }
}
