@import '/src/styles/colors.scss';

.content {
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;

  margin-bottom: 3rem;

  .header {
    display: flex;
    flex-direction: row;

    img {
      width: 2.5rem;
      height: 2.5rem;

      border-radius: 0.75rem;

      margin-right: 1rem;
    }

    .title {
      display: flex;
      flex-direction: column;

      font-weight: 500;

      flex: 2;

      .date {
        font-size: 0.75rem;
        color: $gray;
      }
    }

    .moreIcon {
      width: 2rem;
      height: 2rem;

      padding: 0;

      border: none;

      background-color: transparent;

      background-image: url('../../assets/icons/more-icon.svg');
      background-position: center;
    }
  }

  .body {
    flex-direction: column;

    button {
      width: 100%;

      padding: 0;
      border: none;
      background-color: transparent;

      img {
        width: 100%;

        margin-top: 1rem;

        border-radius: 3rem;
      }
    }
    .description {
      margin: 1rem;
      color: $darkGray;

      font-size: 1rem;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .actions {
      display: flex;
      flex-direction: row;
    }

    .share {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: none;
      align-items: center;

      background-color: transparent;

      font-weight: 600;
    }
  }
}
